@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  --gold: #d4af37;
  --dark-gold: #b38b1d;
  --light-gray: #d3d3d3;
  --dark-gray: #2e2e2e;
  --darker-gray: #1c1c1c;
  --font-family: 'Manrope', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--darker-gray);
  color: var(--gold); 
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}