@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --lime: #c6c210; /* hsl(61, 70%, 52%) */
  --red: #d92623;  /* hsl(4, 69%, 50%) */
  --white: #ffffff; /* hsl(0, 0%, 100%) */
  --slate-100: #cfeaf4; /* hsl(202, 86%, 94%) */
  --slate-300: #90b8cd; /* hsl(203, 41%, 72%) */
  --slate-500: #45698a; /* hsl(200, 26%, 54%) */
  --slate-700: #425d66; /* hsl(200, 24%, 40%) */
  --slate-900: #193746; /* hsl(202, 55%, 16%) */
}

* {
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--slate-100);
}

h1 {
  display: block;
  font-size: 25px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: var( --slate-900);
}
