.footer {
  background-color: #ff6f61;
  padding: 20px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: white;
  bottom: 0;
  width: 100%;
  left: 0;
}

.footer p {
  margin: 10px 0; 
}

.footer a {
  color: #fff; 
  text-decoration: none; 
  margin: 0 10px;
}

.footer a:hover {
  font-weight: bold; 
}
