@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --green: #55FF5D; /* hsl(75, 94%, 57%) */
  --white: #FFFFFF; /* hsl(0, 0%, 100%) */
  --grey: #333333; /* hsl(0, 0%, 20%) */
  --dark-grey: #1F1F1F; /* hsl(0, 0%, 12%) */
  --off-black: #141414; /* hsl(0, 0%, 8%) */
}

* {
  box-sizing: border-box;
  --font-family: 'Inter', sans-serif;
  --font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--off-black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}
