.app {
  text-align: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  min-height: 100vh;
  color: #fff;
}

.title {
  font-size: 3rem;
  margin-bottom: 40px;
  text-shadow: 2px 2px #ff0000;
}
