@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-body {
  background-image: url('./assets/img.webp');
  background-size: cover;
  background-position: center;
}

.bg-turquoise {
  background-color: #40E0D0;
}

.bg-coral {
  background-color: #FF7F50;
}
